:root {
  font-family: 'Geist Variable';
  font-weight: 450;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

h1,
h2 {
  letter-spacing: -0.05em;
}

h1 {
  font-size: 3rem;
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 2.5rem;
  }
}