:root {
  font-family: 'Geist Variable';
  line-height: 1.5;
  font-weight: 450;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

h1 {
  letter-spacing: -0.05em;
}

h1 {
  font-size: 3rem;
}